/************* DESCRIPTION *************/

/************* COLOUR SCHEME *************/

/************* FONTS *************/
@font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/SpaceMono-Regular.ttf');
}
@font-face {
    font-family: 'SpaceMonoBold';
    src: url('../fonts/SpaceMono-Bold.ttf');
}
@font-face {
    font-family: 'SpaceBoldItalic';
    src: url('../fonts/SpaceMono-BoldItalic.ttf');
}
@font-face {
    font-family: 'SpaceMonoItalic';
    src: url('../fonts/SpaceMono-Italic.ttf');
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: #40bfef;
  color: #ffffff;
  font-family: 'SpaceMono';
  font-size: 2em;
}
.style h1{
  display: none;
}
#defaultCanvas0{
  width: 800px;
  height: 100vh;
}
